In [ ]:
import cetbtools.inspector as ci

In [ ]:
%cd /Users/brodzik/cetb_data/v1.3/AQUA_AMSRE/2011270
%ls

In [ ]:
help(ci)

In [ ]:
ci.make_cetb_geotiff(cetb_filename="EASE2_N12.5km.F13_SSMI.1997061.37H.M.SIR.CSU.v0.1.nc", verbose=True)

In [ ]:
ci.make_cetb_geotiff(cetb_filename="EASE2_T12.5km.F13_SSMI.1997061.37H.A.SIR.CSU.v0.1.nc", verbose=True)

Joan's Himalayan region: 27N, 105E to 46N, 62E

In [ ]:
lat, lon = 27., 105.
(row, col) = T25grid.geographic_to_grid(lat, lon)
(x, y) = T25grid.grid_to_map(row, col)
print "lat/lon=", lat, lon
print "row/col=", row, col
print "x/y =   ", x, y

In [ ]:
lat, lon = 46., 62.
(row, col) = T25grid.geographic_to_grid(lat, lon)
(x, y) = T25grid.grid_to_map(row, col)
print "lat/lon=", lat, lon
print "row/col=", row, col
print "x/y =   ", x, y

Russian High Arctic: 82N, 45E to 70N, 110E

In [ ]:
lat, lon = 82., 45.
(row, col) = N25grid.geographic_to_grid(lat, lon)
(x, y) = N25grid.grid_to_map(row, col)
print "lat/lon=", lat, lon
print "row/col=", row, col
print "x/y =   ", x, y
lat, lon = 70., 110.
(row, col) = N25grid.geographic_to_grid(lat, lon)
(x, y) = N25grid.grid_to_map(row, col)
print "lat/lon=", lat, lon
print "row/col=", row, col
print "x/y =   ", x, y

Alaska and Yukon River: 73N, 170W to 55N, 125W

In [ ]:
lat, lon = 73., -170.
(row, col) = N25grid.geographic_to_grid(lat, lon)
(x, y) = N25grid.grid_to_map(row, col)
print "lat/lon=", lat, lon
print "row/col=", row, col
print "x/y =   ", x, y
lat, lon = 55., -125.
(row, col) = N25grid.geographic_to_grid(lat, lon)
(x, y) = N25grid.grid_to_map(row, col)
print "lat/lon=", lat, lon
print "row/col=", row, col
print "x/y =   ", x, y